#content{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15%;
    margin-right:15%;
    background-color: aliceblue;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.spacing{
    line-height: 5px;
}